body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url('img/airplane.jpg') no-repeat center center fixed;
  background-size: cover;
}

.overlay {
  background-color: rgba(255, 255, 255, 0.0);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* İçerik kutusu */
.content {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px 25px 15px ; /* Üst, sağ, alt, sol sırasıyla */ /* Üst: 10px, sağ-sol: 15px, alt: 5px *//* Üst-alt: 10px, sağ-sol: 20px *//* Her taraftan 20px boşluk */
  border-radius: 12px;
  max-width: 850px;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
}

.profile-img {
  width: 180px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.name-label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1px; /* ADI ile SASHA arası boşluk */
}

.name-value {
  font-size: 40px;
  font-weight: bold;
  margin-top: 0; /* Üstten boşluk istemiyorsan sıfırla */
  margin-bottom: 5px;
}


.info-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 5px;
}

.addresses {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.address {
  text-align: center;
  margin: 5px;
}

.icon {
  width: 32px;
  height: 32px;
  margin-top: 5px;
  cursor: pointer;
}

